* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #efefef;
}

.content {
	background-color: #fff;
	width: 60%;
	margin: auto;	
	padding: 50px;
	max-width: 900px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 30px auto;	
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
	/*Экспериментальное значение*/
	/*box-shadow: 10px 0 30px 2px rgba(0,0,200,0.3);*/
}

.content__p {
	font-size: 	18px;
	line-height: 1.5;	
	letter-spacing: 1px;
}

.main-heading {
	font-size: 42px;	
	text-align: center;	
	margin-bottom: 30px;
}

.img-box {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.img-box__img {
	width: calc(50% - 15px);
}

.img-box__img + .img-box__img {
	margin-right: 15px;
}