body,
html
{
    font-family: 'Rubik', sans-serif;

    height: 100%;
    margin: 0;
   
}

body {
     overflow-x: hidden;
}

#header:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background-image: url(img/py.jpg);
    background-position: center;
    -webkit-background-size: cover;
    /*filter: blur(1px);*/
            background-size: cover;

}
    
}
#header:after
{
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background-color: rgba(44, 41, 45, .5);

}
#header
{
    position: relative;
    z-index: 1;

    display: flex;

    height: 100%;


    justify-content: center;
    -ms-align-items: center;
        align-items: center;
}
#text
{
    font-size: 12vmin;
    font-weight: bold;
    width: 80%;
    margin: auto;
    z-index: 1;
    
    user-select: none;
    text-align: center;

    color: white;
    text-shadow: 3px 3px 0 #000;
}
@keyframes blink
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
#text:after
{
    padding-left: 2px;

    content: '|';
    animation: blink .7s infinite;
}

main
{
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 50px 5%;
    box-sizing: border-box;
}

h1
{
    font-size: 45px;
    line-height: 1.1;

    margin-top: 0;

    letter-spacing: .5px;
    /*text-shadow: 1px 1px 1px #ffd865;*/
}

.text
{
    font-size: 18px;
    line-height: 1.5;
    /*text-align: justify;*/

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;

        -ms-hyphens: auto;
}

code
{
    font-size: 18px;
    line-height: 1;

    display: inline-block;

    margin-right: 4px;
    padding: 3px 6px;

    color: #fff;
    border-radius: 4px;
    background-color: #2c292d;
}



.code
{
    line-height: 1.5;

    display: block;
    overflow: auto;

    padding: 10px 20px;

    white-space: nowrap;
}
.code_text
{
    white-space: normal;
}

.grey
{
    color: darkgrey;
}

.yellow
{
    color: #ffd865;
}

.blue
{
    color: #78dce9;
}

.green
{
    color: #aadc76;
}

.red
{
    color: #ff6189;
}

.orange
{
    font-style: italic;

    color: #fc9968;
}

.purple
{
    color: #aa9ef2;
}

@keyframes down
{
    0%
    {
        transform: translate(0,0);

        opacity: 0;
    }
    10%
    {
        opacity: 1;
    }

    90%
    {
        opacity: 1;
    }
    100%
    {
        transform: translate(0,8vmin);

        opacity: 0;
    }
}

#down
{
    font-size: 8vmin;
    font-weight: bold;

    position: absolute;
    z-index: 1;
    bottom: 1vmin;

    padding: 15px 20px 0;

    cursor: pointer;
    user-select: none;
    transition: .4s;
    /*animation: down 1.5s infinite linear both;*/
    
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
}

#down img {
    width: 50px;
}


#down:active
{
    color: #ff6189;
}

.subtitle
{
    font-size: 1.9em;
    line-height: 1.2;

    margin-top: 1.5em;
    margin-bottom: 0;
}

.subtitle code
{
    font-size: .9em;
    font-weight: bold;
}

.link
{
    font-family: monospace;
    font-size: 18px;

    display: block;

    margin: 10px 0;

    transition: .3s;
    transform: translateZ(0);
    text-decoration: none;

    border-radius: 4px;
    background-color: #2c292d;

    -webkit-perspective: 1000;
    -webkit-font-smoothing: subpixel-antialiased;
            backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-filter: blur(0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.multiline
{
    white-space: pre-wrap;
}

@media all and (pointer: fine)
{
    #down:hover
    {
        -webkit-animation-play-state: paused;
             -o-animation-play-state: paused;
                animation-play-state: paused;
    }
    .link:hover
    {
        transform: scale(1.02) translateZ(0);

        color: #fff;
    }
}

@media all and (max-width: 768px)
{
    main {
        overflow-x: hidden;
    }
    
    #text
    {
        font-size: 9vmin;
    }
}

@media all and (max-width: 480px)
{
   #down {
    bottom: 5vmin;
   }
   #down img 
    {
        width: 32px;

    }
}
