* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main {
	background-color: #efefef;
	font-family: 'Comfortaa', cursive;

}

h1 {
	margin-bottom: 35px;
	width: 100%;
	text-align: center;
	font-size: 38px;
}

.box {
	width: 90%;
	box-shadow: 0 0 20px 3px rgba(0,0,0,0.3);
	padding: 50px 0;
	max-width: 1100px;
	margin: auto;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.item {
	width: 100%;
	height: 100%;
	background-color: dodgerblue;
	background-position: center;
	-webkit-background-size: cover;
	 background-size: cover; 
	 box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
}

.link_wrapper {
	display: block;
	width: calc(100% / 2 - 10px);
	max-height: calc(1100px / 2 / 16 * 9 - 10px);
	height: calc(90vw / 2 / 16 * 9 - 10px);
	border: 5px solid white;
	transition: transform 0.3s ease-in-out;
}



@media all and (min-width: 1024px) {
	.link_wrapper:hover {
		transform: scale(1.1);
		z-index: 10;
		box-shadow: 0 0 30px 5px rgba(0,0,0,0.45);
		
	}
}

@media all and (max-width: 768px) {
	.link_wrapper {
		width: 100%;
		margin: 5px 0;
		height: calc(90vw / 16 * 9);
	}
}