body, html {
	height: 100%;
	margin: 0;
	font-family: 'ZCOOL KuaiLe', cursive;
}

div {
	height: 100%;
}

#red {
	background-color: red;
}

#blue {
	background-color: dodgerblue;
}

#green {
	background-color: green;
}

#orange {
	background-color: darkorange;
}

#violet {
	background-color: violet;
}

.wrapper {
	height: 80px;
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

nav {
	margin: auto;
	max-width: 700px;
	overflow: auto;
	white-space: nowrap;
	height: 100%;
	
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}

.link {
	color: #000000;
	text-decoration: none;
	font-size: 25px;
	padding: 10px 15px;
	transition: 0.3s;
	outline: none;
	user-select: none;
}

.link:active {
	color: lightblue;
}

@media screen and (min-width: 1200px)
{
	.link:hover {
		color: #2307ff;
	}	
}

@media screen and (max-width: 480px)
{
	nav {
		justify-content: unset;
		padding: 0 10px;
	}
}
